.kasa-404-container {
  justify-content: space-evenly;

  .kasa-404 {
    font-size: 288px;
    color: #ff6060;
    font-weight: 700;

    @media screen and (max-width: 1240px) {
      font-size: 96px;
    }

    &-title {
      width: 100%;
      font-size: 36px;
      color: #ff6060;
      text-align: center;

      @media screen and (max-width: 1240px) {
        font-size: 18px;
      }
    }

    &-link {
      width: 100%;
      text-align: center;
      text-decoration: underline;

      @media screen and (max-width: 1240px) {
        font-size: 14px;
      }
    }
  }
}
