.kasa-host {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  color: #ff6060;
  text-align: right;

  @media screen and (max-width: 1240px) {
    gap: 10px;
    font-size: 12px;
  }

  img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;

    @media screen and (max-width: 1240px) {
      width: 32px;
      height: 32px;
    }
  }
}
