.kasa-collapse {
  width: 100%;
  background-color: #f6f6f6;

  &__button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ff6060;
    border-radius: 5px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    border: none;

    @media screen and (max-width: 1240px) {
      font-size: 13px;
    }
  }

  &__arrow {
    width: 24px;
    height: 24px;
    transition: all 0.25s;

    @media screen and (max-width: 1240px) {
      width: 16px;
      height: 16px;
    }

    &--open {
      transform: rotate(180deg);
    }
  }

  .content {
    padding: 20px;
    font-weight: 400;

    @media screen and (max-width: 1240px) {
      padding: 10px;
      font-size: 14px;
    }
  }

  .content-parent {
    height: 0px;
    overflow: hidden;
    transition: height ease 0.3s;
  }

  .content-show {
    height: 200px;
    overflow: hidden;
    transition: height ease 0.3s;
  }
}
