.kasa-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 50px;
  padding: 50px;
  background-color: #f6f6f6;
  border-radius: 25px;

  @media screen and (max-width: 1240px) {
    grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
    padding: 0;
    background-color: transparent;
    gap: 20px;
    border-radius: 0;
  }
}
